body{
    font-family:'Arial';
}

#root{
    text-align: center;
    padding: 15px;
}

.App-header{
    background-color:#222;
    height:100px;
    color:white;
}

h1{
    font-size: 18px;
    margin-bottom:20px;
}

span.duration{
    font-size:12px;
}

#courses{
    width: 500px;
    text-align: left;
    display:inline-block;
}

#courses p{
    display:block;
    padding:20px;
    background-color:#c5eff7;
    color:#000;
    position: relative;
    cursor: pointer;
    border-radius:8px;
    transition:0.3s;
}

#courses p b{
    position:absolute;
    right:30px; 
    width:100px;
    color:#000;
    text-align:right;
}

#courses p:hover{
    background-color:#52b3d9;
    color:#fff;
}

#courses p.active {
    color:#fff;
    background-color:#446cb3;
}

#courses p.active b{
    color:#fff;
}

#total{
    background:#fff !important;
    cursor:default !important;
    padding-top:10px !important;
    font-size:20px;
}